<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Сайт Karrless - Гейдарова Константина">
    <meta name="keywords" content="karrless, @karrless, Гейдаров Константин сайт, Гейдаров Константин, персональный сайт">
    <meta name="og:image" content="/static/files/thumb.jpeg">
    <meta name='theme-color' content='#{{ color }}'>

    <link rel="icon" type="image/png" sizes="16x16"
          href="/static/icons/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32"
          href="/static/icons/favicon/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="180x180"
          href="/static/icons/favicon/apple-touch-icon.png">

    <link rel="manifest" href="/static/js/manifest.json">

    <title>{{ title }}</title>

    <link rel="preload" href="/static/fonts/SANYO.ttf"
          as="font" type="font/ttf" crossorigin>


    <link href="/static/css/main.css" rel="stylesheet">
</head>