<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="karrless.ru - Сайт-визитка Гейдарова Константина">
    <meta name="keywords" content="karrless, @karrless, Гейдаров Константин сайт, Гейдаров Константин, персональный сайт">
    <meta name="og:image" content="/static/files/thumb.jpg">
    <meta name='theme-color' content='#{{ color }}'>

    <link rel="icon" href="/static/favicons/512.ico">
    <link rel="icon" href="/static/favicons/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" sizes="180x180"
          href="/static/favicons/180.png">

    <link rel="manifest" href="/static/js/manifest.json">

    <title>{{ title }}</title>

    <!-- <link rel="preload" href="/static/fonts/SANYO.ttf"
          as="font" type="font/ttf" crossorigin> -->


    <link href="/static/css/main.css" rel="stylesheet">
</head>